<h2>Task Details</h2>

<hr/>
<div *ngIf="task">
  <div>
    <label><b>Task Id: </b></label> {{task.uniqueTaskId}}
  </div>
  <div>
    <label><b>Task Name: </b></label> {{task.taskName}}
  </div>
  <div>
    <label><b>Task Description: </b></label> {{task.taskDescription}}
  </div>
  <div>
    <label><b>Completed: </b></label> {{task.completed}}
  </div>
  <div>
    <label><b>Start Date: </b></label> {{task.startDate}}
  </div>
  <div>
    <label><b>End Date: </b></label> {{task.endDate}}
  </div>
  <div>
    <label><b>Assigned To: </b></label> {{task.assignedTo}}
  </div>
  <div>
    <label><b>Assigned By: </b></label> {{task.assignedBy}}
  </div>

</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Task List</button><br>
