<h3>Create Task</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="taskName">Task Name</label>
      <input type="text" class="form-control" id="taskName" required [(ngModel)]="task.taskName" name="taskName">
    </div>
    <br>

    <div class="form-group">
      <label for="taskDescription">Task Description</label>
      <input type="text" class="form-control" id="taskDescription" required [(ngModel)]="task.taskDescription" name="taskDescription">
    </div>
    <br>


    <div class="form-group">
      <label for="completed">Completed</label>
      <input type="text" class="form-control" id="completed" required [(ngModel)]="task.completed" name="completed">
    </div>
    <br>


    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="text" class="form-control" id="startDate" required [(ngModel)]="task.startDate" name="startDate">
    </div>
    <br>

    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="text" class="form-control" id="endDate" required [(ngModel)]="task.endDate" name="endDate">
    </div>
    <br>

    <div class="form-group">
      <label for="assignedBy">Assigned By</label>
      <input type="text" class="form-control" id="assignedBy" required [(ngModel)]="task.assignedBy" name="assignedBy">
    </div>
    <br>

    <div class="form-group">
      <label for="assignedTo">Assigned To</label>
      <input type="text" class="form-control" id="assignedTo" required [(ngModel)]="task.assignedTo" name="assignedTo">
    </div>
    <br>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
