<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Task List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>uniqueTaskId</th>
        <th>Task Name</th>
        <th>Task Description</th>
        <th>completed</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Assigned By</th>
        <th>Assigned To</th>
        <th>Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tsk of task | async">
        <td>{{tsk.uniqueTaskId}}</td>
        <td>{{tsk.taskName}}</td>
        <td>{{tsk.taskDescription}}</td>
        <td>{{tsk.completed}}</td>
        <td>{{tsk.startDate}}</td>
        <td>{{tsk.endDate}}</td>
        <td>{{tsk.assignedBy}}</td>
        <td>{{tsk.assignedTo}}</td>
        <td>
          <button (click)="taskDetails(tsk.uniqueTaskId)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="deleteTask(tsk.uniqueTaskId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          <button (click)="updateTask(tsk.uniqueTaskId)" class="btn btn-info" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
